.App {
height: 100vh;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.card {
background-color: white;
border-radius: 10px;
min-height: 230px;
width: 450px;
position: relative;
}

.card > div > p {
  text-align: center;
  width: 400px;
  margin-left: 1.5rem;
}

.card > div > h3 {
  text-align: end;
  margin-right: 1rem;
}

.card > div > button {
  position: absolute;
  left: 380px;
  border: none;
  height: 40px;
  width: 40px;
  font-size: 25px;
  border-radius: 50%;
}